<h4>Nieuwe verrichting:</h4>
<nieuweverrichting-formulier
  [afdelingId]="afdelingId"
  [kasboekId]="kasboekId"
  (updateVerrichtingenTabelEvent)="updateTabel()"
></nieuweverrichting-formulier>

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Volgnummer Column -->
  <ng-container matColumnDef="volgnummer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> volgnr. </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.wijzig; else toonData">
        <!-- form input -->
        <mat-form-field>
          <mat-label>volgnr.:</mat-label>
          <input matInput type="number" value="{{element.volgnummer}}" min="1" max="1000">
        </mat-form-field>
      </div>
      <ng-template #toonData>
        {{element.volgnummer}}
      </ng-template>
    </td>
  </ng-container>

  <!-- Dag Column -->
  <ng-container matColumnDef="dag">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> dag </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.wijzig; else toonData">
        <!-- form input -->
        <mat-form-field>
          <mat-label>dag:</mat-label>
          <input matInput type="number" value="{{element.dag}}" min="1" max="31">
        </mat-form-field>
      </div>
      <ng-template #toonData>
        {{element.dag}}
      </ng-template>
    </td>
  </ng-container>

  <!-- Omschrijving Column -->
  <ng-container matColumnDef="omschrijving">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> omschrijving </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.wijzig; else toonData">
        <!-- form input -->
        <app-omschrijving [afdelingId]="afdelingId" [initvalue]="element.omschrijving" (autocompleteEvent)="autocompleteHandler($event)"></app-omschrijving>
      </div>
      <ng-template #toonData>
        {{element.omschrijving}}
      </ng-template>
    </td>
  </ng-container>

  <!-- Bedrag Column -->
  <ng-container matColumnDef="bedragin">
    <th mat-header-cell *matHeaderCellDef> IN </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.wijzig; else toonData">
        <!-- form input -->
        <mat-form-field>
          <mat-label>bedrag:</mat-label>
          <input matInput type="number" value="{{element.bedrag}}">
        </mat-form-field>
      </div>
      <ng-template #toonData>
        {{element.bedrag | bedragInOfUit:'IN'}}
      </ng-template>
    </td>
  </ng-container>
  <!-- Bedrag Column -->
  <ng-container matColumnDef="bedraguit">
    <th mat-header-cell *matHeaderCellDef> UIT </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.wijzig; else toonData">
        <!-- form input -->
      </div>
      <ng-template #toonData>
        {{element.bedrag | bedragInOfUit:'UIT'}}
      </ng-template>
    </td>
  </ng-container>

  <!-- Ticket Column -->
  <ng-container matColumnDef="ticket">
    <th mat-header-cell *matHeaderCellDef> ticket </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.wijzig; else toonData">
        <!-- form input -->
        <table>
          <tr><td>ticket:</td></tr>
          <tr><td><mat-checkbox [checked]="element.kasticket"></mat-checkbox></td></tr>
        </table>
      </div>
      <ng-template #toonData>
        {{element.kasticket | kruisjeAlsTicket}}
      </ng-template>
    </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> type </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.wijzig; else toonData">
        <!-- form input -->
      </div>
      <ng-template #toonData>
        {{element.verrichtingsType}}
      </ng-template>
    </td>
  </ng-container>

  <!-- wijzigen Column -->
  <ng-container matColumnDef="wijzig">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="btn-wijzig" *ngIf="!element.wijzig; else saveVerrichting">
        <button mat-button class="verbergen" (click)="element.wijzig = !element.wijzig">wijzig</button>
      </div>
      <ng-template #saveVerrichting>
      <div class="btn-wijzig">
        <button mat-button class="verbergen" (click)="element.wijzig = !element.wijzig; opslaan(element.volgnummer)">opslaan</button>
      </div>
      </ng-template>
    </td>
  </ng-container>

  <!-- cancel Column -->
  <ng-container matColumnDef="cancel">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="btn-wijzig" *ngIf="element.wijzig">
        <button mat-button class="verbergen" (click)="element.wijzig = false">cancel</button>
      </div>
    </td>
  </ng-container>

  <!-- delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button class="verbergen" (click)="verwijderen(element.volgnummer)">verwijderen</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)"></tr>-->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

