<section>
  <h2>Kasboeken</h2>
  <form [formGroup]="kasboekFormulier">
  <mat-form-field>
    <mat-label>Afdeling:</mat-label>
    <mat-select formControlName="afdeling" (selectionChange)="afdelingHandler()">
      @for (afdeling of afdelingen; track afdeling.id) {
        <mat-option [value]="afdeling.id">{{afdeling.naam}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Jaar:</mat-label>
    <mat-select formControlName="jaar" (selectionChange)="jaarHandler()">
      @for (jaar of jaren; track jaar) {
        <mat-option [value]="jaar">{{jaar}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Maand:</mat-label>
    <mat-select formControlName="maand" (selectionChange)="maandHandler()">
      @for (maand of maanden; track maand) {
        <mat-option [value]="maand">{{maand}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  </form>
  <verrichtingen-table
    [hidden]="tabelIsOnzichtbaar"
    [afdelingId]="afdelingId"
    [jaar]="jaar"
    [maand]="maand">
  </verrichtingen-table>

</section>
