<section>
  <h2>Kasboeken</h2>
  <div id="loading" class="loading" [hidden]="paginaGeladen">
    De applicatie wordt opgestart, dit duurt ongeveer 3 minuten...
    <mat-progress-spinner mode="indeterminate" [diameter]=20></mat-progress-spinner>
  </div>
  <form [formGroup]="kasboekFormulier" [hidden]="verbergFormulier">
    Formulier
    <mat-form-field>
      <mat-label>Afdeling:</mat-label>
      <mat-select formControlName="afdeling" (selectionChange)="afdelingHandler()">
        @for (afdeling of afdelingen; track afdeling.id) {
          <mat-option [value]="afdeling.id">{{ afdeling.naam }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jaar:</mat-label>
      <mat-select formControlName="jaar" (selectionChange)="jaarHandler()">
        @for (jaar of jaren; track jaar) {
          <mat-option [value]="jaar">{{ jaar }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Maand:</mat-label>
      <mat-select formControlName="maand" (selectionChange)="maandHandler()">
        @for (maand of maanden; track maand) {
          <mat-option [value]="maand">{{ maand }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <div id="inhoud" [hidden]="inhoudOnzichtbaar">
    Inhoud
    <nieuweverrichting-formulier
      [kasboekId]="kasboekId"
      [afdelingId]="afdelingId"
      [refresh]="refreshNieuweVerrichting"
      (updateVerrichtingenTabelEvent)="updateVerrichtingenTabel()"
    ></nieuweverrichting-formulier>
    <verrichtingen-table
      [kasboekId]="kasboekId"
      [afdelingId]="afdelingId"
      [refresh]="refreshVerrichtingenTabel"
      (updateNieuweVerrichtingEvent)="updateNieuweVerrichting()"
    ></verrichtingen-table>
    <cashmunten-table [kasboekId]="kasboekId"></cashmunten-table>
  </div>
</section>
